In [1]:
# PANDAS IS FOR DATA WRANGLING
import pandas as pd
import numpy as np

# SEABORN IS A PLOTTING LIBRARY
import seaborn as sns

# MATPLOT LIB IS ALSO A PLOTTING LIBRARY
import matplotlib.pyplot as plt

# SKLEARN IS OUR MACHINE LEARNING PACKAGE
from sklearn.linear_model import LinearRegression

# IMPORT OUR RANDOM FOREST REGERSSOR
from sklearn.ensemble import RandomForestRegressor

# METRICS HELP US SCORE OUR MODEL
from sklearn import metrics

# HELP US SPLIT OUR DATA INTO TESTING A TRAINING
from sklearn.model_selection import train_test_split

# Good ol statsmodels
import statsmodels.api as sm

# Specific root mean squared error for stats models
from statsmodels.tools.eval_measures import rmse


from statsmodels.stats.outliers_influence import variance_inflation_factor


from statsmodels.api import qqplot

import CTPLIB as ctp

In [2]:
df_countries = pd.read_csv('data/Countries.csv')

In [3]:
df_countries.head()

,Country Name,Country Code,Year,Agriculture (% GDP),Ease of Doing Business,Education Expenditure (% GDP),Export (% GDP),GDP,Health Expenditure (% GDP),Import (% GDP),...,Population,Land,Continent Name,Export,Import,Education Expenditure,Health Expenditure,Net Trade,GDP Per Capita,Population Density
0,Afghanistan,AFG,2000,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19542982.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,724.145910,29.934415
1,Afghanistan,AFG,2001,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19688632.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,718.788917,30.157510
2,Afghanistan,AFG,2002,38.627892,40.717968,13.670101,NaN,3.854235e+09,9.443391,NaN,...,21000256.0,652860.0,Asia,NaN,NaN,5.268779e+08,3.639705e+08,NaN,183.532775,32.166553
3,Afghanistan,AFG,2003,37.418855,40.717968,13.670101,NaN,4.539497e+09,8.941258,NaN,...,22645130.0,652860.0,Asia,NaN,NaN,6.205538e+08,4.058881e+08,NaN,200.462376,34.686043
4,Afghanistan,AFG,2004,29.721067,40.717968,13.670101,NaN,5.220825e+09,9.808474,NaN,...,23553551.0,652860.0,Asia,NaN,NaN,7.136921e+08,5.120832e+08,NaN,221.657662,36.077491

In [4]:
df_eu = pd.read_csv('data/Countries-Europe.csv')

In [5]:
df_eu.head()

,zoom,name,abbreviation,ISO alpha 2,ISO alpha 3,ISO numeric,land area km,population,latitude,longitude,continent
0,3,Ukraine,Ukr.,UA,UKR,804,603700.0,45415596,49.0,32.0,eu
1,3,France,Fr.,FR,FRA,250,547030.0,64768389,46.0,2.0,eu
2,3,Spain,Spain,ES,ESP,724,504782.0,46505963,40.0,-4.0,eu
3,3,Sweden,Swe.,SE,SWE,752,449964.0,9045000,62.0,15.0,eu
4,3,Germany,Ger.,DE,DEU,276,357021.0,82369000,51.5,10.5,eu

In [6]:
list(df_eu.columns)

['zoom',
 'name',
 'abbreviation',
 'ISO alpha 2',
 'ISO alpha 3',
 'ISO numeric',
 'land area km',
 'population',
 'latitude',
 'longitude',
 'continent']

In [7]:
df_list_of_eu = df_eu['name']
list(df_list_of_eu)

['Ukraine',
 'France',
 'Spain',
 'Sweden',
 'Germany',
 'Finland',
 'Norway',
 'Poland',
 'Italy',
 'United Kingdom',
 'Romania',
 'Belarus',
 'Greece',
 'Bulgaria',
 'Iceland',
 'Portugal',
 'Czech Republic',
 'Denmark',
 'Hungary',
 'Serbia',
 'Austria',
 'Ireland',
 'Lithuania',
 'Latvia',
 'Croatia',
 'Bosnia and Herzegovina',
 'Slovakia',
 'Estonia',
 'Netherlands',
 'Switzerland',
 'Moldova',
 'Belgium',
 'Albania',
 'Macedonia',
 'Slovenia',
 'Montenegro',
 'Cyprus',
 'Luxembourg',
 'Faroe Is.',
 'Andorra',
 'Malta',
 'Liechtenstein',
 'Guernsey',
 'San Marino',
 'Gibraltar',
 'Monaco',
 'Vatican City']

In [8]:
df_countries = df_countries.rename(columns={
    "Country Name": "country_name", 
    "Country Code": "country_code",
    "Year": "year",
    "Agriculture (% GDP)": "agriculture_percentage_gdp",
    "Ease of Doing Business": "ease_of_doing_business",
    "Education Expenditure (% GDP)": "education_expenditure_percentage_gdp",
    "Export (% GDP)": "export_percentage_gdp",
    "GDP": "gdp",
    "Health Expenditure (% GDP)": "health_expenditure_percentage_gdp",
    "Import (% GDP)": "import_percentage_gdp",
    "Population": "population",
    "Land": "land",
    "Continent Name": "continent_land",
    "Export": "export",
    "Import": "import",
    "Education Expenditure": "education_expenditure",
    "Health Expenditure": "health_expenditure",
    "Net Trade": "net_trade",
    "GDP Per Capita": "gdp_per_capita",
    "Population Density": "population_density"
    
})
df_countries

,country_name,country_code,year,agriculture_percentage_gdp,ease_of_doing_business,education_expenditure_percentage_gdp,export_percentage_gdp,gdp,health_expenditure_percentage_gdp,import_percentage_gdp,...,population,land,continent_land,export,import,education_expenditure,health_expenditure,net_trade,gdp_per_capita,population_density
0,Afghanistan,AFG,2000,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19542982.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,724.145910,29.934415
1,Afghanistan,AFG,2001,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19688632.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,718.788917,30.157510
2,Afghanistan,AFG,2002,38.627892,40.717968,13.670101,NaN,3.854235e+09,9.443391,NaN,...,21000256.0,652860.0,Asia,NaN,NaN,5.268779e+08,3.639705e+08,NaN,183.532775,32.166553
3,Afghanistan,AFG,2003,37.418855,40.717968,13.670101,NaN,4.539497e+09,8.941258,NaN,...,22645130.0,652860.0,Asia,NaN,NaN,6.205538e+08,4.058881e+08,NaN,200.462376,34.686043
4,Afghanistan,AFG,2004,29.721067,40.717968,13.670101,NaN,5.220825e+09,9.808474,NaN,...,23553551.0,652860.0,Asia,NaN,NaN,7.136921e+08,5.120832e+08,NaN,221.657662,36.077491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,ZWE,2018,7.319375,50.509980,19.039841,26.163973,3.415607e+10,4.670418,28.386297,...,15052184.0,390760.0,Africa,8.936585e+09,9.695644e+09,6.503261e+09,1.595231e+09,-7.590586e+08,2269.177012,38.520278
5102,Zimbabwe,ZWE,2019,9.819262,54.469350,22.837985,27.163459,2.183223e+10,3.659765,25.524111,...,15354608.0,390760.0,Africa,5.930390e+09,5.572484e+09,4.986042e+09,7.990086e+08,3.579063e+08,1421.868596,39.294216
5103,Zimbabwe,ZWE,2020,8.772859,49.833418,15.666611,25.917014,2.150970e+10,3.425581,28.733547,...,15669666.0,390760.0,Africa,5.574672e+09,6.180499e+09,3.369841e+09,7.368322e+08,-6.058277e+08,1372.696674,40.100486
5104,Zimbabwe,ZWE,2021,8.849899,49.833418,22.837985,25.411446,2.837124e+10,6.704907,30.901234,...,15993524.0,390760.0,Africa,7.209542e+09,8.767063e+09,6.479419e+09,1.902265e+09,-1.557521e+09,1773.920411,40.929276
5105,Zimbabwe,ZWE,2022,12.069543,49.833418,22.837985,28.908919,2.067806e+10,6.704907,39.540243,...,16320537.0,390760.0,Africa,5.977802e+09,8.176153e+09,4.722451e+09,1.386444e+09,-2.198351e+09,1266.996031,41.766140

In [9]:
df_eu_countries = df_countries[df_countries['country_name'].isin(df_list_of_eu)]

In [40]:
from dash import Dash, dash_table, html, dcc, Input, Output, State
import dash_bootstrap_components as dbc
import pandas as pd
import plotly.express as px # Used to make choropleth map

gdp_df=pd.read_csv('data/Countries.csv')

df_eu = pd.read_csv('data/Countries-Europe.csv')
list(df_eu.columns)
df_list_of_eu = df_eu['name']
df_countries = gdp_df.rename(columns={
    "Country Name": "country_name", 
    "Country Code": "country_code",
    "Year": "year",
    "Agriculture (% GDP)": "agriculture_percentage_gdp",
    "Ease of Doing Business": "ease_of_doing_business",
    "Education Expenditure (% GDP)": "education_expenditure_percentage_gdp",
    "Export (% GDP)": "export_percentage_gdp",
    "GDP": "gdp",
    "Health Expenditure (% GDP)": "health_expenditure_percentage_gdp",
    "Import (% GDP)": "import_percentage_gdp",
    "Industry (% GDP)": "industry_percentage_gdp",
    "Inflation Rate": "inflation_rate",
    "R&D": "research_and_development",
    "Service (% GDP)": "service_percentage_gdp",
    "Unemployment": "unemployment",
    "Population": "population",
    "Land": "land",
    "Continent Name": "continent_land",
    "Export": "export",
    "Import": "import",
    "Education Expenditure": "education_expenditure",
    "Health Expenditure": "health_expenditure",
    "Net Trade": "net_trade",
    "GDP Per Capita": "gdp_per_capita",
    "Population Density": "population_density"
    
})
df_eu_countries = df_countries[df_countries['country_name'].isin(df_list_of_eu)]

#######################################################################################################################################################################################################
checklist = dcc.Checklist(id='country_stats_checklist',
                options = df_countries.columns.unique(),
                inline=True
    )


app = Dash(external_stylesheets=[dbc.themes.SOLAR])

min_year = df_eu_countries['year'].min()
max_year = df_eu_countries['year'].max()

app.layout = html.Div([
    html.H1('EU GDP Dashboard'),
    dcc.RangeSlider(id='year-slider',
                    min=df_eu_countries['year'].min(),
                    max=df_eu_countries['year'].max(),
                    value=[min_year, max_year],
                    marks={i:str(i) for i in range (min_year, max_year+1)}
    ),
    checklist,
    dcc.Graph(id='map-graph'),
    dcc.Graph(id='line-graph'),
    dash_table.DataTable(id='gdp-info')
])

@app.callback(
    Output(component_id='map-graph', component_property='figure'),
    Input(component_id='year-slider', component_property='value')
)
def update_map_graph(selected_years):
    filtered_gdp = df_eu_countries[
        (df_eu_countries['year']>=selected_years[0]) &
        (df_eu_countries['year']<=selected_years[1])
    ]
    average_gdp_df = df_eu_countries.groupby('country_name')['gdp'].mean().reset_index()
    map_fig = px.choropleth(
        average_gdp_df,
        locations='country_name',
        locationmode='country names',
        color = 'gdp',
        scope = 'europe',
        height=900,
        width=2100
    )
    return map_fig

# When the user hasn't clicked a country on the map yet, the data table's property will be None. When they do click a country, we update the data table to be specific to the selected country.
@app.callback(
    Output('gdp-info', 'data'),
    Input('map-graph', 'clickData'),
    Input('year-slider', 'value')
)
def update_datatable(clicked_data, selected_years):
    if clicked_data is None:
        return []
    eu_country = clicked_data['points'][0]['location']
    filtered_eu_countries = df_eu_countries[
        (df_eu_countries['year']>=selected_years[0]) &
        (df_eu_countries['year']<=selected_years[1]) &
        (df_eu_countries['country_name']==eu_country)
        ]
    return filtered_eu_countries.to_dict('records')

@app.callback(
    Output(component_id='line-graph', component_property='figure'),
    Input(component_id='country-stat', component_property='value')
)
def update_linegraph(checked_stats):
    if checked_stats is None:
        return []
    line_fig = px.line(
        df_countries,
        x="year"
    )

In [41]:
app.run(jupyter_mode="external")

Dash app running on http://127.0.0.1:8050/